.height100 {
  height: 100vh;
}

.colorlight {
  color: #ffce67;
}
.colorWhite {
  color: white;
}

.outline-none {
  outline: none !important;
}

.img-petit {
  width: 50px;
  height: auto;
}
